<!DOCTYPE html>
<!-- saved from url=(0050)https://html.designingmedia.com/atreves/about.html -->
<html lang="zxx">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>About Us | Atreves</title>
    <!-- /SEO Ultimate -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <link rel="apple-touch-icon" sizes="57x57" href="https://html.designingmedia.com/atreves/assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://html.designingmedia.com/atreves/assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://html.designingmedia.com/atreves/assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://html.designingmedia.com/atreves/assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://html.designingmedia.com/atreves/assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://html.designingmedia.com/atreves/assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://html.designingmedia.com/atreves/assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://html.designingmedia.com/atreves/assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://html.designingmedia.com/atreves/assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="imaimage/png" sizes="192x192" href="https://html.designingmedia.com/atreves/assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://html.designingmedia.com/atreves/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://html.designingmedia.com/atreves/assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://html.designingmedia.com/atreves/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="https://html.designingmedia.com/atreves/assets/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Latest compiled and minified CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/js/bootstrap.min.js.download">
    <!-- Font Awesome link -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <!-- StyleSheet link CSS -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/css/responsive.css" rel="stylesheet" type="text/css">
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="~/owl.theme.default.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/aos.css" rel="stylesheet">
    <link href="~/css/magnific-popup.css" rel="stylesheet" type="text/css">
</head>
<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">
    <!-- Back to top button -->
    <a id="button" class=""></a>
    <div class="sub_banner position-relative">
        <header class="header">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <a class="navbar-brand" href="https://html.designingmedia.com/atreves/index.html">
                        <figure class="logo mb-0"><img src="~/images/logo.png" alt="image" class="img-fluid"></figure>
                    </a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle dropdown-color navbar-text-color" href="https://html.designingmedia.com/atreves/about.html#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Home </a>
                                <div class="dropdown-menu drop-down-content">
                                    <ul class="list-unstyled drop-down-pages">
                                        <li class="nav-item"><a class="dropdown-item nav-link" href="https://html.designingmedia.com/atreves/index.html">Enjoy Trip</a></li>
                                        <li class="nav-item"><a class="dropdown-item nav-link" href="https://html.designingmedia.com/atreves/index1.html">Travel World</a></li>
                                        <li class="nav-item"><a class="dropdown-item nav-link" href="https://html.designingmedia.com/atreves/index2.html">Explore Places</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="https://html.designingmedia.com/atreves/about.html">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://html.designingmedia.com/atreves/destination.html">Destination</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle dropdown-color navbar-text-color" href="https://html.designingmedia.com/atreves/about.html#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Pages </a>
                                <div class="dropdown-menu drop-down-content">
                                    <ul class="list-unstyled drop-down-pages">
                                        <li class="nav-item"><a class="dropdown-item nav-link" href="https://html.designingmedia.com/atreves/review.html">Review</a></li>
                                        <li class="nav-item"><a class="dropdown-item nav-link" href="https://html.designingmedia.com/atreves/faq.html">Faq</a></li>
                                        <li class="nav-item"><a class="dropdown-item nav-link" href="https://html.designingmedia.com/atreves/team.html">Team</a></li>
                                        <li class="nav-item"><a class="dropdown-item nav-link" href="https://html.designingmedia.com/atreves/service.html">Service</a></li>
                                        <li class="nav-item"><a class="dropdown-item nav-link" href="https://html.designingmedia.com/atreves/service-detail.html">Service Details</a></li>
                                        <li class="nav-item"><a class="dropdown-item nav-link" href="https://html.designingmedia.com/atreves/404.html">404</a></li>
                                        <li class="nav-item"><a class="dropdown-item nav-link" href="https://html.designingmedia.com/atreves/coming-soon.html">Coming Soon</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle dropdown-color navbar-text-color" href="https://html.designingmedia.com/atreves/about.html#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Blog </a>
                                <div class="dropdown-menu drop-down-content">
                                    <ul class="list-unstyled drop-down-pages">
                                        <li class="nav-item"><a class="dropdown-item nav-link" href="https://html.designingmedia.com/atreves/blog.html">Blog</a></li>
                                        <li class="nav-item"><a class="dropdown-item nav-link" href="https://html.designingmedia.com/atreves/single-blog.html">Single Blog</a></li>
                                        <li class="nav-item"><a class="dropdown-item nav-link" href="https://html.designingmedia.com/atreves/load-more.html">Load More</a></li>
                                        <li class="nav-item"><a class="dropdown-item nav-link" href="https://html.designingmedia.com/atreves/one-column.html">One Column</a></li>
                                        <li class="nav-item"><a class="dropdown-item nav-link" href="https://html.designingmedia.com/atreves/two-column.html">Two Column</a></li>
                                        <li class="nav-item"><a class="dropdown-item nav-link" href="https://html.designingmedia.com/atreves/three-column.html">Three Column</a></li>
                                        <li class="nav-item"><a class="dropdown-item nav-link" href="https://html.designingmedia.com/atreves/three-colum-sidbar.html">Three Column Sidebar</a></li>
                                        <li class="nav-item"><a class="dropdown-item nav-link" href="https://html.designingmedia.com/atreves/four-column.html">Four Column</a></li>
                                        <li class="nav-item"><a class="dropdown-item nav-link" href="https://html.designingmedia.com/atreves/six-colum-full-wide.html">Six Column</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://html.designingmedia.com/atreves/contact.html">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link book_now" href="https://html.designingmedia.com/atreves/contact.html">Book Now<i class="fa-solid fa-arrow-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>


        @RenderBody()


        <!-- Footer -->
<section class="footer-con position-relative">
    <div class="footer_upperportion position-relative">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="upper_portion">
                        <a href="https://html.designingmedia.com/atreves/index.html"><figure class="footer-logo mb-0"><img class="img-fluid" src="~/images/footer-logo.png" alt="image"></figure></a>                    
                        <p class="text-size-18 mb-0">Sign up for the newsletter:</p>
                        <form action="javascript:;">
                            <div class="form-group position-relative mb-0">
                                <input type="text" class="form_style" placeholder="Enter Email Address" name="email">
                                <button><i class="send fa-sharp fa-solid fa-paper-plane"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_lowerportion position-relative">
        <div class="container">
            <div class="middle_portion">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="logo-content">
                            <h5 class="heading">About Us</h5>
                            <p class="text-size-14 text">Quia voluptas sit asper aut oit aut fugit sed quia consequuntur magni nesciunt ese ciu aorro...</p>                        
                            <ul class="list-unstyled mb-0 social-icons">
                                <li><a href="https://www.facebook.com/" class="text-decoration-none"><i class="fa-brands fa-facebook-f social-networks"></i></a></li>
                                <li><a href="https://www.instagram.com/" class="text-decoration-none"><i class="fa-brands fa-instagram social-networks"></i></a></li>
                                <li><a href="https://www.youtube.com/" class="text-decoration-none"><i class="fa-brands fa-youtube social-networks"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                        <div class="links">
                            <h5 class="heading">Navigation</h5>
                            <ul class="list-unstyled mb-0">
                                <li><i class="fa-solid fa-arrow-right"></i><a href="https://html.designingmedia.com/atreves/index.html">Home</a></li>
                                <li><i class="fa-solid fa-arrow-right"></i><a href="https://html.designingmedia.com/atreves/about.html">About Us</a></li>
                                <li><i class="fa-solid fa-arrow-right"></i><a href="https://html.designingmedia.com/atreves/destination.html">Destinations</a></li>
                                <li><i class="fa-solid fa-arrow-right"></i><a href="https://html.designingmedia.com/atreves/blog.html">Blog</a></li>
                                <li><i class="fa-solid fa-arrow-right"></i><a href="https://html.designingmedia.com/atreves/contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6">
                        <div class="use-link links">
                            <h5 class="heading">Explore</h5>
                            <ul class="list-unstyled mb-0">
                                <li><i class="fa-solid fa-arrow-right"></i><a href="https://html.designingmedia.com/atreves/service.html">Services</a></li>
                                <li><i class="fa-solid fa-arrow-right"></i><a href="https://html.designingmedia.com/atreves/service.html">What We Offer</a></li>
                                <li><i class="fa-solid fa-arrow-right"></i><a href="https://html.designingmedia.com/atreves/about.html">Our Story</a></li>
                                <li><i class="fa-solid fa-arrow-right"></i><a href="https://html.designingmedia.com/atreves/single-blog.html">Latest Posts</a></li>
                                <li><i class="fa-solid fa-arrow-right"></i><a href="https://html.designingmedia.com/atreves/contact.html">Help Center</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-12">
                        <div class="icon">
                            <h5 class="heading">Contact Us</h5>
                            <ul class="list-unstyled mb-0">
                                <li class="text">
                                    <i class="fa-solid fa-phone"></i>
                                    <a href="tel:++61383766284" class="text-decoration-none">+61 3 8376 6284</a>
                                </li>
                                <li class="text">
                                    <i class="fa-solid fa-envelope"></i>
                                    <a href="mailto:info@atreves.com" class="text-decoration-none">Info@atreves.com</a>
                                </li>
                                <li class="text">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <a href="" class="text-decoration-none address mb-0">21 King Street Melbourne, 3000, Australia
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p class="mb-0">Copyright ©2024 Atreves.com All Rights Reserved</p>
        </div>
    </div>
</section>
<!-- PRE LOADER -->
<div class="loader-mask" style="display: none;">
    <div class="loader" style="display: none;">
        <div></div>
        <div></div>
    </div>
</div>
<!-- Latest compiled JavaScript -->
<script src="~/js/jquery-3.7.1.min.js.download"></script>
<script src="~/js/popper.min.js.download"></script>
<script src="~/js/bootstrap.min.js.download"></script>
<script src="~/js/aos.js.download"></script>
<script src="~/js/owl.carousel.js.download"></script>
<script src="~/js/carousel.js.download"></script>
<script src="~/js/animation.js.download"></script>
<script src="~/js/back-to-top-button.js.download"></script>
<script src="~/js/preloader.js.download"></script>
<script src="~/js/counter.js.download"></script>

</body></html>
